[submodule "modules/common"]
	path = modules/common
	url = git@github.com:nulab/backlog-migration-common.git
[submodule "modules/backlog4s"]
	path = modules/backlog4s
	url = git@github.com:chaabaj/backlog4s.git
